{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <h2>Ça y est presque {{ user.firstName | capitalize }}! On vient d'envoyer un mail de vérification à ton adresse mail ({{ user.email | lower }}).</h2>
    {# <p>Si tu as créé un compte d'étudiant tuteur ou d'administrateur, il devra également être validé par ton département d'enseignement.</p> #}

{% endblock %}