@import 'var';

.btn {
   padding: 30px;
   width: 350px;
   height: 60px;
   outline: none;
   border: none;
   cursor: pointer;
   background-color: $primaryRedLessOpacity;
   color: #fff;
   font-weight: bold;
   font-size: 1.2em;
   border-radius: 2px;
   overflow: hidden;
   position: relative;
   margin-top: 15px;

   span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 100%;
   }

   &:before {
      content: "";
      width: 24px;
      height: 24px;
      background: $primaryRed;
      border-radius: 50%;
      position: absolute;
      transition: 400ms;
      z-index: 1;

      top: calc(50% - 12px);
      left: calc(50% - 12px);
      transform: scale(0);
   }

   &:hover:before {
      transform: scale(30);
   }


   // &__tinyEffect:hover:before {
   //    transform: scale(10);
   // }

   // &__mediumEffect:hover:before {
   //    transform: scale(14);
   // }

   &__w_tiny {
      // padding: 15px 20px;
      width: calc(350px/2);
      font-size: .8em;

      &:hover:before {
         transform: scale(10);
      }
   }

   &__w_default {
      &:hover:before {
         transform: scale(15);
      }
   }

   &__w_100p {
      width: 100%;
   }

   &__w_45p {
      width: 45%;

      &:hover:before {
         transform: scale(10);
      }
   }

   &__w_landing {
      width: 250px;
      
      &:hover:before {
         transform: scale(12);
      }
   }

   &__disabled {
      cursor: not-allowed;
      background-color: $greyLessOpacity;
   
      &:before {
         background: $grey;
      }
      
      &:hover:before {
         transform: scale(0);
      }
   }
}
