@import 'var';

// Formulaire
.form--container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-self: center;
   width: 90vw;
   max-width: 700px;
   // margin: 40px auto;
}

.form--role {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 50px;
   border-bottom: 1px solid $lessOpacityGrey;
   
   a {
      width: 50%;
      cursor: default;
      pointer-events: none;
   }

   div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      text-align: center;
      font-weight: bold;
      font-size: 1.2em;
   }

   .notActive {
      background-color: $lessOpacityGrey;
      color: rgba(#000, .3);
      transition: color .25s ease-out;
      cursor: pointer;
      pointer-events: auto;

      &:hover {
         color: rgba(#000, .7);
         transition: color .25s ease-out;
      }
   }
}

.form--content {
   width: 100%;

   form {
      display: flex;
      flex-direction: column;

      label {
         font-size: 1em;
         font-weight: 100;

         &:not(.notRequired) {
            &::after {
               content: ' *';
               color: $primaryRed;
            }
         }
      }

      input,
      select {
         padding: 15px 10px;
         
         @media only screen and (max-width: 600px) {
            padding: 25px 20px;
         }
      }
   }

   div {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 25px;
   }

   .collapse {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
      
      &_2 {
         div {
            width: 48%;
         }
      }

      &_3 {
         div {
            width: 30%;
         }
      }

      @media only screen and (max-width: 1024px) {
         flex-direction: column;

         div {
            width: 100%;
         }
      }
   }
   
   #switchOption--container {
      div {
         margin-bottom: 0;
         width: 100%;

         &:nth-child(1) {
            display: none;
         }
      }
   }

   .mail--container {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;

      div {
         margin-bottom: 0;

         &:nth-child(1) {
            width: 75%;
         }

         &:nth-child(2) {
            width: 20%;
            text-align: center;
            border: 1px dotted #000;
            border-radius: 2px;
            padding: 15px 10px;
            font-weight: 300;
            font-size: .75em;
            user-select: none;

            @media only screen and (max-width: 660px) {
               padding: 25px 10px;
            }
         }
      }
   }

   .agreeTerms--container {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
         transform: scale(1.1);
         filter: hue-rotate(140deg) brightness(1.2);
      }

      label {
         margin-left: 5px;
      }
   }
}

.errorField {
   background-color: rgba($primaryRed, .3);
   border: 1px solid $primaryRed;
   border-radius: 2px;
}

.form--btn {
   padding: 15px;
   outline: none;
   border: none;
   cursor: pointer;
   background-color: rgba($primaryRed, .5);
   color: #fff;
   font-weight: bold;
   font-size: 1.2em;
   border-radius: 2px;
   overflow: hidden;
   position: relative;

   &:before {
      content: "";
      width: 24px;
      height: 24px;
      background: $primaryRed;
      border-radius: 50%;
      position: absolute;
      transition: 400ms;
      z-index: -1;

      top: calc(50% - 12px);
      left: calc(50% - 12px);
      transform: scale(0);
   }

   &:hover:before {
      transform: scale(30);
   }
}


ul {
   display: flex;
   flex-direction: row;
   position: relative;
   list-style: none;
   width: fit-content;
   background-color: $darkerRed;
   border-radius: 2px;
   padding: 10px;
   padding-right: 25px;

   &:after {
      content: 'x';
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 5px;
      color: #fff;
      cursor: pointer;
   }

   li {
      font-size: 1em;
      color: #fff;
   
      &::before {
         content: ' ⚠️ ';
      }
   }
}