@import 'var';

.mail {
   align-items: flex-end;

   div {
      margin-bottom: 5px;
   }

   a {
      font-size: .8em;
      opacity: .5;
      transition: opacity .25s ease-in-out;

      &:hover {
         opacity: 1;
         transition: opacity .25s ease-in-out;
      }
   }
}

.errorField {
   background-color: rgba($primaryRed, .3);
   border: 1px solid $primaryRed;
   border-radius: 2px;
}

div.alert-danger {
   display: flex;
   flex-direction: row;
   position: relative;
   list-style: none;
   width: fit-content;
   background-color: $darkerRed;
   border-radius: 2px;
   padding: 10px;
   padding-right: 25px;

   &:after {
      content: 'x';
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 5px;
      color: #fff;
      cursor: pointer;
   }

   // li {
   //    font-size: 1em;
   //    color: #fff;
   
      &::before {
         content: ' ⚠️ ';
      }
   // }
}