@import 'var';

.semesters--container {
   width: 90vw;
   max-width: 350px;
}

.semester, .manage {
   width: 50% !important;
}

.semester {
   border-left: none;
}

.content {
   display: flex;
   flex-direction: row;
   justify-content: center !important;
   align-items: center !important;
}