@import 'var';

.cours--container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: flex-start;
   margin-top: 100px;
   width: 95%;
   max-width: 1200px;

   // margin-left: 200px;
   // background-color: red;
}

.cours--content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   width: 90%;
   max-width: 800px;
}

.text {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   // width: 65%;
   // height: 100%;
}

.titre {
   color: $primaryRed;
   margin: 0;
   font-size: 3em;

   @include tablet() {
      font-size: 2.5em;
   }
}

.subject {
   font-weight: bold;
}

.tutor {
   span {
      font-weight: bold;
      color: $darkerRed;
   }
}

.description {
   margin: 25px 0;
   text-align: justify;
   font-weight: 300;
   width: 100%;
   max-width: 500px;
}

.localisation {
   .link {
      color: $darkerRed;
   }
}

.form--button {
   padding: 15px 40px;
   margin-top: 25px;
   outline: none;
   border: none;
   cursor: pointer;
   background-color: rgba($primaryRed, .5);
   color: #fff;
   font-weight: bold;
   font-size: 1.2em;
   border-radius: 2px;
   overflow: hidden;
   position: relative;

   &:before {
      content: "";
      width: 24px;
      height: 24px;
      background: $primaryRed;
      border-radius: 50%;
      position: absolute;
      transition: .5s ease-out;
      z-index: -1;

      top: calc(50% - 12px);
      left: calc(50% - 12px);
      transform: scale(0);
   }

   &:hover:before {
      transform: scale(15);
   }
}


.suggestions--container {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   overflow-y: scroll;
   height: 80%;
   // background-color: green;

   .suggestion--titre {
      font-weight: bold;
      margin-bottom: 15px;
   }

   @include desktop-sm() {
      display: none;
   }
   
   @media only screen and (orientation: portrait) {
      display: none;
   }
}

.card--container__minify {
   width: 250px;
   margin: 0 25px 25px 0;
}

.inscription {
   position: relative;
   outline: none;
   border: 1px solid #000;
   border-radius: 3px;
   background-color: #fff;
   padding: 0;
   cursor: pointer;
   width: 100%;
   height: 100px;
   transform: scale(.97);
   transition: transform .25s ease-in-out;
   
   &:hover {
      transform: scale(1);
      transition: transform .25s ease-in-out;

      .card--hovered {
         .background {
            transform: translateX(-50%) skew(-30deg);
            transition: transform .5s ease-out;
         }

         @mixin textApparition($delay:.05s) {
            transform: translateY(0) rotateZ(0deg);
            transition: transform .5s ease-in-out, opacity .5s ease-in-out;
            transition-delay: $delay;
            opacity: 1;
         }

         .text span {
            &:nth-child(1) {
               @include textApparition(.03s)
            }
            &:nth-child(2) {
               @include textApparition(.06s)
            }
            &:nth-child(3) {
               @include textApparition(.09s)
            }
            &:nth-child(4) {
               @include textApparition(.12s)
            }
            &:nth-child(5) {
               @include textApparition(.15s)
            }
            &:nth-child(6) {
               @include textApparition(.18s)
            }
            &:nth-child(7) {
               @include textApparition(.21s)
            }
            &:nth-child(8) {
               @include textApparition(.24s)
            }
            &:nth-child(9) {
               @include textApparition(.27s)
            }
            &:nth-child(10) {
               @include textApparition(.3s)
            }
            &:nth-child(11) {
               @include textApparition(.33s)
            }
            &:nth-child(12) {
               @include textApparition(.36s)
            }
            &:nth-child(13) {
               @include textApparition(.39s)
            }
            &:nth-child(14) {
               @include textApparition(.41s)
            }
         }
      }

      .card--participants {
         &::before {
            transform: translateY(0);
            transition: transform .3s ease-out;
         }
         
         span {
            transition: color .3s ease-out;
            color: #fff;
         }
      }
   }
}

.card {
   position: relative;
   width: 85%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
}

.card--content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   height: 90%;
   overflow: hidden;

   .text {
      text-align: left;
   }

   .title {
      font-size: 1.7em;
      font-weight: bold;
   }
}

.card--hovered {
   overflow: hidden;
   position: absolute;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   z-index: 2;

   .text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 65%;
      height: 100%;

      div {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         width: 100%;
      }

      span {
         position: relative;
         color: #fff;
         font-size: 17px;
         font-weight: bold;
         transform: translateY(50px) rotateZ(15deg);
         transition: transform .75s ease-in-out, opacity .75s ease-in-out;
         opacity: 0;
      }
   }

   .background {
      position: absolute;
      top: 0;
      left: 50%;
      width: 140%;
      height: 100%;
      border-radius: 2px;
      background-color: rgba($darkerRed, .8);
      transform: translateX(-150%) skew(-30deg);
      transition: transform .5s ease-in-out;
      transition-delay: .25s;
      z-index: -1;
   }
}