@import 'var';

.global--container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
}

// Filtres
.filter--container {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 90%;
   max-width: 1000px;
   margin-top: 100px;

   input,
   select {
      padding: 15px 10px;
      // margin-left: 15px;
      
      @media only screen and (max-width: 600px) {
         padding: 25px 20px;
      }
   }

   button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 15%;
      min-width: 125px;
      padding: 15px;
      outline: none;
      border: none;
      border-bottom: 1px solid $darkerRed;
      background-color: #fff;
      color: $darkerRed;
      font-weight: bold;
      font-size: 1em;
      border-radius: 2px;
      cursor: pointer;
      overflow: hidden;

      svg {
         transform: rotate(0deg);
         transition: transform .5s ease-in-out;

         path {
            stroke: $darkerRed;
         }
      }
   }
}

.filter--content {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
   width: 85vw;
   max-width: 800px;
   background-color: rgba(251, 234, 234, .95);
   border: 1px solid $darkerRed;
   border-radius: 2px;
   padding: 15px 20px;
   top: 65px;
   left: 50%;
   transform: translateX(-50%);
   opacity: 0;
   user-select: none;
   pointer-events: none;
   z-index: 2;
   transition: opacity .5s ease-in-out, top .5s ease-in-out;

   .categorie {
      margin-top: 15px;

      @include tablet() {
         font-size: .75em;
      }
   }
}

.list {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;

   input[type=checkbox] {
      display: none;

      &:checked {
         + div {
            background-color: $primaryRed;

            span {
               color: #fff;
            }
         }
      }
   }
   
   label {
      display: flex;
      border: 1px solid #000;
      border-radius: 2px;
      user-select: none;
      cursor: pointer;
      margin: 0 15px 15px 0;
      
      @include tablet() {
         margin: 0 5px 5px 0;
      }
      
      div {
         background-color: #fff;
         padding: 10px 10px 8px 10px;
         width: 100%;
         text-align: center;

         span {
            font-weight: 300;
            line-height: 0;
         }
      }

   }
}

// Cours
.session--container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   width: 100%;
   max-width: 1600px;
   margin: 3% auto;
}

.card--container {
   // margin-bottom: 5%;
   max-width: 410px;
   width: 100%;
   margin: 0 15px 75px 5px;
}

.inscription {
   position: relative;
   outline: none;
   border: 1px solid #000;
   border-radius: 3px;
   background-color: #fff;
   padding: 0;
   cursor: pointer;
   width: 100%;
   height: 150px;
   transform: scale(.97);
   transition: transform .25s ease-in-out;
   
   &:hover {
      transform: scale(1);
      transition: transform .25s ease-in-out;

      .card--hovered {
         .background {
            transform: translateX(-50%) skew(-30deg);
            transition: transform .5s ease-out;
         }

         @mixin textApparition($delay:.05s) {
            transform: translateY(0) rotateZ(0deg);
            transition: transform .5s ease-in-out, opacity .5s ease-in-out;
            transition-delay: $delay;
            opacity: 1;
         }

         .text span {
            &:nth-child(1) {
               @include textApparition(.03s)
            }
            &:nth-child(2) {
               @include textApparition(.06s)
            }
            &:nth-child(3) {
               @include textApparition(.09s)
            }
            &:nth-child(4) {
               @include textApparition(.12s)
            }
            &:nth-child(5) {
               @include textApparition(.15s)
            }
            &:nth-child(6) {
               @include textApparition(.18s)
            }
            &:nth-child(7) {
               @include textApparition(.21s)
            }
            &:nth-child(8) {
               @include textApparition(.24s)
            }
            &:nth-child(9) {
               @include textApparition(.27s)
            }
            &:nth-child(10) {
               @include textApparition(.3s)
            }
            &:nth-child(11) {
               @include textApparition(.33s)
            }
            &:nth-child(12) {
               @include textApparition(.36s)
            }
            &:nth-child(13) {
               @include textApparition(.39s)
            }
            &:nth-child(14) {
               @include textApparition(.41s)
            }
         }
      }

      .card--participants {
         &::before {
            transform: translateY(0);
            transition: transform .3s ease-out;
         }
         
         span {
            transition: color .3s ease-out;
            color: #fff;
         }
      }
   }
}

.card {
   position: relative;
   width: 85%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   // padding: 30px;
}

.card--content {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-start;
   height: 90%;
   overflow: hidden;

   .text {
      text-align: left;
   }

   .title {
      font-size: 2.5em;
      font-weight: bold;
   }

   .description {
      text-align: justify;
      font-weight: 100;
   }

   .name {
      color: $darkerRed;
      font-weight: 600;
   }
   
   span {
      font-size: 1em;
   }
}

.card--participants {
   position: absolute;
   bottom: -40px;
   right: -15%;
   padding: 15px;
   margin: 0;
   border: 1px solid #000;
   border-radius: 2px;
   background-color: #fff;
   z-index: 3;
   overflow: hidden;

   &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(-100%);
      transition: transform .5s ease-in-out;
      background-color: #000;
      z-index: -1;
   }
   
   span {
      font-size: 20px;
      color: #000;
      transition: color .5s ease-in-out;
      font-weight: bold;
   }
}

.card--hovered {
   overflow: hidden;
   position: absolute;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   z-index: 2;

   .text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 65%;
      height: 100%;

      div {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         width: 100%;
      }

      span {
         position: relative;
         color: #fff;
         font-size: 30px;
         font-weight: bold;
         transform: translateY(50px) rotateZ(15deg);
         transition: transform .75s ease-in-out, opacity .75s ease-in-out;
         opacity: 0;
      }
   }

   .background {
      position: absolute;
      top: 0;
      left: 50%;
      width: 140%;
      height: 100%;
      border-radius: 2px;
      background-color: rgba($darkerRed, .8);
      transform: translateX(-150%) skew(-30deg);
      transition: transform .5s ease-in-out;
      transition-delay: .25s;
      z-index: -1;
   }
}