{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block stylesheets %}
    {# {{ encore_entry_link_tags('app_sessions') }} #}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">

    </div>


    {# {{ encore_entry_script_tags('app_sessions') }} #}
{% endblock %}
