{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app_sessions') }}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

   <div>
        <div>

            {% include "components/_footer.html.twig" %}
        </div>
    </div>


{% endblock %}
