{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque labore facere placeat sint blanditiis nesciunt totam, maxime non quo exercitationem quidem officia aliquam, ipsa, nisi porro. Necessitatibus veniam ea iste.</p>

    <form action="{{ path("app_become-tutor") }}" method="POST">
        <input type="hidden" name="token" value="{{ csrf_token('become-tutor') }}"/>
        <button type="submit">Faire la demande</button>
    </form>

{% endblock %}