{% extends 'base.html.twig' %}

{% block body %}

    <h1>Devenir tuteur</h1>
    <p>Pour devenir tuteur dans votre département d'enseignement, une étude de votre demande sera effectuée par l'administration du département afin de déterminer si vous êtes éligible ou pas. Vous serez conformement prévenu par mail une fois que la décision sera faite.</p>
    <p>Pour avoir le bonus action sociale, il faudra valider autour de 20h de cours dans le semestre ainsi que rendre un rapport à la fin de ce dernier.</p>
    <form action="{{ path("app_become-tutor") }}" method="POST">
        <input type="hidden" name="token" value="{{ csrf_token('become-tutor') }}"/>
        <button type="submit">Faire la demande</button>
    </form>

{% endblock %}