{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    {% if app.user %}
        <p>You're connected</p>
        <a href="{{ path('app_logout') }}">Se déco</a>
    {% endif %}
    <h1>Hi</h1>

{% endblock %}
