        <p>Cordialement,</p>
        <p>- {{ random(['Nicolas', 'Alex']) }} de Tutoru</p>
    </div>

    <footer>
        <a href="{{ homeLink }}" class="lineHoverEffect">
            <span>Visiter Tutoru</span>
        </a>
        <a href="{{ registerLink }}" class="lineHoverEffect">
            <span>S'inscrire</span>
        </a>
        <a href="{{ loginLink }}" class="lineHoverEffect">
            <span>Se connecter</span>
        </a>
    </footer>
</div>