        <p>Cordialement,</p>
        <p>- {{ random(['Nicolas', 'Alex']) }} de Tutoru</p>
    </div>

    <footer>
        <a href="https://tutoru.fr" class="lineHoverEffect">
            <span>Visiter Tutoru</span>
        </a>
        <a href="https://tutoru.fr/register" class="lineHoverEffect">
            <span>S'inscrire</span>
        </a>
        <a href="https://tutoru.fr/login" class="lineHoverEffect">
            <span>Se connecter</span>
        </a>
    </footer>
</div>