        <p>Cordialement,</p>
        <p>- {{ random(['Nicolas', 'Alex']) }} de Tutoru</p>
    </div>

    <footer>
        <p><a href="{{ homeLink }}">Visiter Tutoru</a></p>
        <p><a href="{{ loginLink }}">Se connecter</a></p>
        <p><a href="{{ registerLink }}">S'inscrire</a></p>
    </footer>
</div>