{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
    {% for session in sessions %}
        <p>session.title</p>
    {% endfor %}

{% endblock %}