{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    {% if users is empty == false %}
        {% for user in users %}
            <div>
                <p>{{ user.firstName | capitalize }} {{ user.lastName | upper }}</p>
                <p>{{ user.email | lower }}</p>
                <p>{{ user.roles[user.roles | length - 2] }}</p>
                <a href="">Valider utilisateur</a>
            </div>
        {% endfor %}
    {% else %}
        <h2>Pas d'utilisateurs à valider</h2>
    {% endif %}
{% endblock %}
