<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="cursor"></div>

        <div class="menuBurger hoveredItems">
            <div>
                <span class="menuNotHovered cross__1"></span>
                <span class="menuNotHovered cross__2"></span>
            </div>

            <div>
                <span class="menuNotHovered"></span>
                <span class="menuNotHovered"></span>
            </div>
        </div>

        <div class="menuContent--container">
            <div class="middle--container">
            </div>
            <div class="bottom--container">
                    <div class="labels">
                        <img src="{{ asset('./build/images/UT3.png') }}"/>
                        <img src="{{ asset('./build/images/tlp.png') }}"/>
                    </div>
                    <div class="website">
                        <a href="https://www.iut-tarbes.fr/" target="_blank" class="hoveredItems">Site officiel</a>
                    </div>
                    <div class="mail">
                        <a class="hoveredItems" href="mailto:frederique.girard@iut-tarbes.fr"><span>frederique.girard@iut-tarbes.fr</span></a>
                    </div>
            </div>
        </div>
        <div class="menu--background"></div>

            
        {% include "components/_flashMessages.html.twig" %} 
        {% block body %}{% endblock %}
    </body>
</html>
