<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,shrink-to-fit=no"/>
        <meta name="google" content="notranslate"/>
        <meta name="description" content="Bienvenue sur le site du tutorat de Tarbes ! Ici vous pourrez enseigner ou apprendre à de nombreux étudiants !" />
        <meta name="keywords" content="web, webdeveloppement, javascript, ux, ui, animation, microinteraction, html, css, scss, student, motion, motiondesign, graphic, graphicdesign, digital, audiovisuel, etudessuperieures, design, dutmmi, tarbes, multimédia, iut, dut, but, art, technologie, adobe, mmi, front-end, dev" />
        <meta name="author" content="Alex n' Nicolàs" />
        <meta name="publisher" content="IUT Tarbes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="theme-color" content="#ff3a39">
        <meta name="msapplication-navbutton-color" content="#ff3a39">
        <meta name="apple-mobile-web-app-status-bar-style" content="#ff3a39">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {# <link rel="icon" href="/img/icon/favicon.png" />
        <link rel="apple-touch-icon" href="/img/icon/favicon.png" />
        <meta property="og:image" content="/img/icon/favicon.png" /> #}

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="cursor"></div>

        {% include "components/_menu.html.twig" %} 
        {% include "components/_flashMessages.html.twig" %}
        {% include "components/_nav.html.twig" %}

        {% block body %}{% endblock %}
    </body>

    {{ encore_entry_script_tags(app.request.attributes.get('_route')) }}
</html>
