<div class="landingPage--container">
   <div class="landingPage--content">
      <div class="text">
         <h1>Bonjour !</h1>
         <h2>Bienvenue sur le site du tutorat de Tarbes</h2>
         <span>Ici tu pourras t'inscrire à des cours proposés par des étudiants tuteur ou même en créer !</span>
      </div>
      <div class="buttons">
         <div class="buttons--container">
            <a href="{{ path('app_register') }}"><button class="btn btn__tinyEffect hoveredItems"><span>Inscription</span></button></a>
            <a href="{{ path('app_login') }}"><button class="btn btn__tinyEffect hoveredItems"><span>Connexion</span></button></a>
         </div>
      </div>
   </div>


   <div class="background--picture">
      <img src="{{ asset('./build/images/bg2.jpg') }}" />
   </div>
</div>
