{% set links = {
	"accueil": "/",
	"mes_cours": "/ownSessions",
	"cours": "/sessions",
	"create": "/sessions/create",
	"en_attente": "/sessions/pending",
	"logs": "/sessions/log",
	"utilisateurs": "/users",
	"modules": "/subject",
	"salles": "/classroom",
	"semestre": "/semester",
	"contact": "/contact",
	"inscription": "/register",
	"connexion": "/login",
	"deco": "/logout"
} %}

<div data-lg-preloader="slide-to-top" data-lg-preloader-duration="1"></div>

<div class="landingPage--container">
   <div class="landingPage--content">
      <div class="text">
         <h1>Bonjour !</h1>
         <h2>Bienvenue sur le site du tutorat de Tarbes</h2>
         <span>Ici tu pourras t'inscrire à des cours proposés par des étudiants tuteur ou même en créer !</span>
      </div>
      <div class="buttons">
         <div class="buttons--container">
            {% include "components/_button.html.twig" with {
               "link": links.inscription,
               "class_modifier": "w_landing",
               "title": "Inscription",
               "type": ""
            } %}
            {% include "components/_button.html.twig" with {
               "link": links.connexion,
               "class_modifier": "w_landing",
               "title": "Connexion",
               "type": ""
            } %}
         </div>
      </div>
   </div>


   <div class="background--picture">
      <img hidden src="{{ asset('./build/images/bg2.jpg') }}" />
   </div>
</div>
