{% set menuContents = [
	{title: "Accueil", link: "/", access: ["ROLE_STUDENT", "ROLE_TUTOR", "ROLE_SECRETARY", "ROLE_ADMIN"]},
	{title: "Mes cours", link: "/ownSessions", access: ["ROLE_STUDENT", "ROLE_TUTOR"]},
	{title: "Liste des cours", link: "/sessions", access: ["ROLE_STUDENT", "ROLE_TUTOR", "ROLE_SECRETARY", "ROLE_ADMIN"]},

	{title: "Proposer un cours", link: "/sessions_create", access: ["ROLE_TUTOR"]},

	{title: "Cours en attente", link: "/sessions_pending", access: ["ROLE_SECRETARY"]},

	{title: "Logs", link: "/sessions_log", access: ["ROLE_ADMIN"]},
	{title: "Gérer les utilisateurs", link: "/users", access: ["ROLE_ADMIN"]},
	{title: "Gérer les modules", link: "/subject", access: ["ROLE_ADMIN"]},
	{title: "Gérer les salles de cours", link: "/classroom", access: ["ROLE_ADMIN"]},
	{title: "Gérer les semestres", link: "/semester", access: ["ROLE_ADMIN"]},
] %}


<div class="menuBurger hoveredItems">
	<div>
		<span class="menuNotHovered cross__1"></span>
		<span class="menuNotHovered cross__2"></span>
	</div>

	<div>
		<span class="menuNotHovered"></span>
		<span class="menuNotHovered"></span>
	</div>
</div>

<div class="menuContent--container">
	<div class="middle--container">
		<div class="middle--content">
			{% if app.user %}
				{% set userRoleIndex = app.user.roles | length - 1 %}
				{% for content in menuContents %}
					{% if app.user.roles[userRoleIndex] in content.access %}
						<a class="menu--link hoveredItems" href="{{ content.link }}">
							<div class="spans">
								<span>{{ content.title }}</span>
							</div>
							<svg xmlns="http://www.w3.org/2000/svg" width="16.988" height="12.951" viewBox="0 0 16.988 12.951">
								<g id="arrow" transform="translate(-601.608 -435.928)">
									<line id="Ligne_1" data-name="Ligne 38" x2="16.461" transform="translate(602.974 447.514) rotate(-30)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
									<line id="Ligne_2" data-name="Ligne 39" x2="8.231" transform="matrix(0.966, 0.259, -0.259, 0.966, 609.279, 437.153)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
									<line id="Ligne_3" data-name="Ligne 40" x2="8.231" transform="matrix(0.259, -0.966, 0.966, 0.259, 615.099, 447.233)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="2"/>
								</g>
							</svg>
						</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>

	<div class="bottom--container">
		<div class="labels">
			<img src="{{ asset('./build/images/UT3.png') }}"/>
			<img src="{{ asset('./build/images/iut-tarbes.png') }}"/>
		</div>
		<div class="website">
			<a href="https://www.iut-tarbes.fr/" target="_blank" class="hoveredItems lineHoverEffect">
				<span>Site officiel</span>
			</a>
		</div>
		<div class="mail">
			<a href="mailto:iut@iut-tarbes.fr" class="hoveredItems lineHoverEffect">
				<span>iut@iut-tarbes.fr</span>
			</a>
		</div>
	</div>
</div>
<div class="menu--background"></div>