<div class="nav--container">
		<div class="nav--content">
		<span class="navPath" hidden>{{ app.request.pathinfo }}</span>
		
		<a href="{{ path('app_home') }}" class="hoveredItems lineHoverEffect">
			<span>accueil</span>
		</a>
		<div class="customNavPath--container">
		</div>
	</div>
</div>
