<div hidden class="modal--container">
   <div class="text--container">
      <span class="cross">&times;</span>
      <span class="modal_message">Êtes-vous sûr ?</span>
      <br>
      <div class="choice">
         <a class="lineHoverEffect"><span class="yes">Oui</span></a>
         <a class="lineHoverEffect"><span class="no">Non</span></a>
      </div>
   </div>
   <div class="background"></div>
</div>