<h1>Votre demande d'admin a bien été validée !</h1>
<p>Votre demande afin de devenir administrateur dans le département a bien été validée.</p>
<p>Désormais, vous pouvez :</p>
<ul>
    <li>Vérifier, valider, supprimer ou changer les droits des utilisateurs du département</li>
    <li>Gérer et accéder aux informations relatives à tous les cours</li>
    <li>Gérer les matières et les salles de cours du département</li>
</ul>
