<h1>Votre département d'enseignement a bien été ajouté sur Tutoru !</h1>
<p>La création du département {{ faculty }} a bien été validé sur Tutoru !</p>
<p>Il faudra absolument que vous sauvegardiez les informations suivantes :</p>
<h2>Vos identifiants d'administrateur</h2>
<ul>
    <li>Adresse mail : <b>{{ mail }}</b></li>
    <li>Mot de passe : <b>{{ password }}</b></li>
</ul>
<h2>Code secret d'administrateur</h2>
<p>Si d'autres membres du département souhaitent créér leur compte d'administrateur sur Tutoru, ce code leur sera demandé au moment de l'inscription :</p>
<p><b>{{ adminCode }}</b></p>
