<h1>Nouvelle demande de tuteur</h1>
<p>Un étudiant souhaite devenir tuteur.</p>
<p>Vous pouvez :</p>
<ul>
    <li>Valider la demande</li>
    <li>Annuler la demande</li>
    <li>Suprimmer l'utilisateur</li>
</ul> 
<p><a href="{{ link }}">Faites votre choix ici</a> ou allez directement dans votre espace d'administrateur.</p>
