<h1>Un cours de tutorat auquel tu étais inscrit(e) a été annulé</h1>
<p>Malheureusement, le cours '{{ session.title }}' prévu pour le {{ session.datetime | date('d-m-Y') }} à {{ session.datetime | date('h:i') }} a été annulé.</p>