{% include "email/components/_header.html.twig" with { title: "Ton cours a été annulé !" } %}

      <span><b>Un cours de tutorat auquel tu étais inscrit(e) a été annulé</b></span>
      <span>Malheureusement, le cours '{{ session.title }}' prévu pour le {{ session.datetime | date('d/m/Y') }} à {{ session.datetime | date('h') }}h{{ session.datetime | date('i') }} a été annulé.</span>

{% include "email/components/_footer.html.twig" %}

{% include "email/components/_globalStyle.html.twig" %}
