<h1>Un nouveau semestre a commencé !</h1>
<p>On te contacte pour te notifier que le semestre a culminé. Cela signifie que :</p>
<ul>
    <li>À partir de maintenant, toutes les heures de tutorat validées seront attribuées à ta note de bonus action social du nouveau semestre.</li>
    <li>Si t'avais des cours en attente, il faudra les recréer sur le site.</li>
</ul>