{% include "email/components/_header.html.twig" with { title: "Nouvelle demande de tuteur !" } %}

        <span>L'utilisateur {{ user }} à effectué une demande pour obtenir les droits de tuteur ou admnistrateur.</span>
        <span>Vous pouvez :</span>

        <ul>
            <li>Valider la demande</li>
            <li>Annuler la demande</li>
            <li>Suprimmer l'utilisateur</li>
        </ul> 

        <span>Cliquez sur le bouton ci-dessous pour gérer cette demande ou allez directement dans votre espace d'administrateur.</span>
    </div>

{% include "email/components/_footer.html.twig" %}

{% include "email/components/_globalStyle.html.twig" %}
