{% include "email/components/_header.html.twig" with { title: "Un nouveau semestre a commencé !" } %}

        <span>On te contacte pour te notifier que le semestre a culminé.</span>
        <span>Cela signifie que :</span>

        <ul>
            <li>À partir de maintenant, toutes les heures de tutorat validées seront attribuées à ta note de bonus action social du nouveau semestre.</li>
            <li>Si tu avais des cours en attente, il faudra les recréer sur le site.</li>
        </ul>
    </div>

{% include "email/components/_footer.html.twig" %}

{% include "email/components/_globalStyle.html.twig" %}
