<h1>Nouvelle demande de salle de cours pour le tutorat</h1>
<p>Un étudiant tuteur souhaite réaliser un cours dans une salle du département.</p>
<p>Vos actions :</p>
<ul>
    <li>Valider la salle de cours ;</li>
    <li>Proposer une salle de cours différente.</li>
</ul>
<p><a href="{{ link }}">Faites votre choix ici</a> ou allez directement dans votre espace de secrétaire.</p>