<div class="container">
    <div class="title">
        <h1>Tutorat</h1>
        <span>Un nouveau semestre a commencé !</span>
    </div>

    <div class="request">
        <span>On te contacte pour te notifier que le semestre a culminé.</span>
        <span>Cela signifie que :</span>
    </div>

    <div class="content">
        <ul>
            <li>À partir de maintenant, toutes les heures de tutorat validées seront attribuées à ta note de bonus action social du nouveau semestre.</li>
            <li>Si tu avais des cours en attente, il faudra les recréer sur le site.</li>
        </ul>
    </div>

    <div class="link">
        <a href="{{ link }}"><button class="btn btn__tinyEffect">Tutorat</button></a>
    </div>
</div>

{% include "email/components/_globalStyle.html.twig" %}
