
{% include "email/components/_header.html.twig" with { title: "Un nouveau semestre a commencé !" } %}

    <p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

    {# <p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p> #}

    <p>À bientot !</p>

{% include "email/components/_footer.html.twig" %}

{% include "email/components/_globalStyle.html.twig" %}
