{% include "email/components/_header.html.twig" with { title: "Votre département d'enseignement a bien été ajouté sur Tutoru !" } %}
    
    <p>La création du département {{ faculty }} a bien été validé sur Tutoru !</p>
    <p>Ainsi, un compte spécial a été créé pour le secrétariat.</p>
    <p>Avec ce compte, vous pourrez automatiquement attribuer des salles pour les cours de tutorat en présentiel au sein du département.</p>
    <p>En effet, un mail vous sera envoyé afin de vous notifier à chaque fois qu'un nouveau cours sera proposé en présentiel.</p>
    <p>Ensuite, sur votre espace secrétaire, vous pourrez vérifier les détails du cours. Après, vous pourrez :</p>
    <ul>
        <li>Soit refuser le cours ;</li>
        <li>Ou le valider en attribuant une salle pour le créneau proposé.</li>
    </ul>

    <h3>Vos identifiants de secrétariat</h3>
    <p>Il faudra absolument que vous sauvegardiez les informations suivantes :</p>
    <ul>
        <li>Adresse mail : <b>{{ mail }}</b></li>
        <li>Mot de passe provisoire : <b>{{ password }}</b></li>
    </ul>

{% include "email/components/_footer.html.twig" %}

{% include "email/components/_globalStyle.html.twig" %}
