<h1>Ta demande de salle de cours a été refusée</h1>

<p>Malheureusement, aucune salle de cours ne peut être attribuée dans le créneau proposé. La demande a été refusée et le cours a été suprimmé.</p>


