<div class="container">
   <div class="title">
      <h1>Tutorat</h1>
      <span>Demande de salle de cours</span>
   </div>

   <div class="request">
      <span>Ta demande de salle de cours a été refusée.</span>
   </div>

   <div class="content">
      <span>Malheureusement, aucune salle de cours ne peut être attribuée dans le créneau proposé. La demande a été refusée et le cours a été suprimmé.</span>
   </div>

   {# <div class="link">
      <a href="{{ link }}"><button class="btn btn__tinyEffect">Tutorat</button></a>
   </div> #}
</div>

{% include "email/_globalStyle.html.twig" %}