{% include "email/components/_header.html.twig" with { title: "Votre demande de tuteur a bien été validée !" } %}
    
    <h1></h1>
    <p>Ta demande afin de devenir tuteur dans le département a bien été validée.</p>
    <p>Désormais, tu peux :</p>
    <ul>
        <li>Proposer des cours de tutorat</li>
        <li>Vérifier tes heures de cours validées afin de calculer ton bonus action sociale</li>
    </ul>

    <h2>Important : pour valider ses cours...</h2>
    <p>Afin de valider administrativement tes cours de tutorat, tu auras pour obligation de nous transmettre la liste d'appel.</p>
    <p>Pour faire cela, il faut chercher le cours en question dans ton tableau de bord, et puis cliquer dans "Faire l'appel".</p>
    <p>Cependant, l'appel ne pourra être fait que pendant le créneau du cours.</p>
    <p>Il faut donc bien faire attention à ne pas oublier cet aspect car sinon ton cours ne sera pas pris en compte pour le bonus.</p>

{% include "email/components/_footer.html.twig" %}

{% include "email/components/_globalStyle.html.twig" %}
