<h1>Votre demande de droits a été refusée !</h1>
<p>Votre demande afin de devenir administrateur/tuteur dans le département a été réfusée.</p>
<p>Pour plus de renseignements, veuillez contacter directement votre département.</p>

{% include "email/components/_globalStyle.html.twig" %}
