<h1>Votre compte Tutoru a été suprimmé !</h1>
<p>Malheureusement, l'administration du département a décidé de suprimmer votre compte Tutoru.</p>
<p>Pour plus de renseignements, veuillez contacter directement votre département.</p>