<h1>Droits de tuteur révoqués</h1>
<p>Malheureusement, l'administration de votre departement d'enseignement a décidé de révoquer vos droit de tuteur.</p>
<p>Pour plus de renseignements, veuillez contacter directement votre département.</p>