{% include "email/components/_header.html.twig" with { title: "Vérification de compte" } %}

    <span>Vérifie ton compte de Tutorat en cliquant sur le lien ci-dessous : </span>
    <a href="{{ signedUrl }}" class="lineHoverEffect"><span><b>Vérifier mon compte</b></span></a>
    <span>Ce lien ne marchera plus après une semaine.</span>

    <span>Si tu as créé un compte d'étudiant tuteur ou d'administrateur, tu n'auras accès qu'aux fonctionnalités de base jusqu'à ce que ton compte soit validé par ton département d'enseignement.</span>
    <span>À de suite !</span>

{% include "email/components/_footer.html.twig" %}

{% include "email/components/_globalStyle.html.twig" %}
